<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Greet Count</title>
</head>
<body>
    <div class="container2">
        <div class="nav2">
    <div class="users">
    <a href="/greeted">Users</a>
    </div>
    <div class=" home">
    <a href="/">Home</a>
    </div>
</div>

           <h1 class="header2">User Count</h1>
  
    <h2>Hello, {{name}} has been greeted {{timesGreeted}} time(s)</h2>
    </div>
  
</body>
</html>
