<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Greet Count</title>
</head>
<body>
     <h1 class="header">User Count</h1>
  
    <h3>Hello, {{name}} has been greeted {{timesGreeted}} time(s)</h3>

<div class="nav">
    <div>
    <a href="/greeted">Users</a>
    </div>
    <div class=" home">
    <a href="/">Home</a>
    </div>
   
</div>
</body>
</html>
