<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Counter</title>
</head>
<body>
     <h1>Greeted user</h1>
  
    <h3>Hello, {{name}} has been greeted {{timesGreeted}} times</h3>
</body>
</html>