<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1 class="header">Greeted users</h1>
    <h3>Click on a user name to see counter</h3>
   
        <table>
            <th>USERNAMES:</th>
       <tr>
        {{#each greeted}}
        
            <td><a href="/counter/{{{@key}}}">{{@key}}</a></td>
      </tr>
        {{/each}}
    <table>
        <div class="nav">
            <a href="/index.handlebars">Home</a>
        </div>
      
</body>
</html>